@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --border-color: black;
    --text-color: #4886ae;
    --text-title-color: white;
    --background-color: #000e24;
    font-family: "Dosis", sans-serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}
